// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/42/corne.h"
#include "../miryoku/miryoku.dtsi"

#include <behaviors/unicode.dtsi>

&uc {
    default-mode = <UC_MODE_LINUX>;  // Change as needed
};

#include "corne_combos.dtsi"
